.menubar {
	background-color: #6600CC;
}

.menubar p {
	color: #FFFFFF;
}

.darkback {
	background-color: #2E2E1F;
	color: white;
	font-family: 'Bangers', cursive;
}

.tiles {
	margin-top: 30px;
}

.tile {
	margin: 0 1em 1em 1em;
	position: relative;
}

.tile a {
	position: absolute;
	top: 140px;
	left: 25px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 3px 5px;
}

footer {
	width: 100%;
	background-color: #eee;
	height: 40px;
}

footer .footer-text {
	margin-top: 7.5px;
}

p {
	font-family: 'Arvo', serif;
}