<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

<p>Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.</p>

<p>The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what the word round meant until I saw Earth from space.</p>

<p>I don't know what you could say about a day in which you have seen four beautiful sunsets.</p>

<p>The dreams of yesterday are the hopes of today and the reality of tomorrow.</p>

<p>Problems look mighty small from 150 miles up.</p>

<p>Where ignorance lurks, so too do the frontiers of discovery and imagination.</p>

<p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there's a fundamental truth to our nature, Man must explore... and this is exploration at its greatest.</p>

<p>NASA is not about the "Adventure of Human Space Exploration" We won't be doing it just to get out there in space – we'll be doing it because the things we learn out there will be making life better for a lot of people who won't be able to go.</p>

<p>Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.</p>

<p>There can be no thought of finishing for "aiming for the stars." Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

<p>There can be no thought of finishing for "aiming for the stars." Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

<p>The dreams of yesterday are the hopes of today and the reality of tomorrow.</p>