<style>
	/* temporary - remove me please! */
	form label { display: block; }
</style>

<form method="post" action="/papers">
	<div class="form-group">
		<label>
			Title
			<input name="title" type="text" class="form-control" required maxlength="75" />
		</label>
	</div>

	<div class="form-group">
		<label>
			Description
			<textarea name="description" class="form-control" required maxlength="400" rows="5" placeholder="markdown supported; please embed only HTTPS assets"></textarea>
		</label>
	</div>

	<div class="form-group">
		<label>
			Authors
			<input name="authors" type="text" class="form-control" required maxlength="400" />
		</label>
	</div>

	<div class="form-group">
		<label>
			Author Twitter
			<input name="authorTwitter" type="text" class="form-control" maxlength="15" placeholder="don't include the @" />
		</label>
	</div>

	<div class="form-group">
		<label>
			Content HTML
			<textarea name="contentHtml" required class="form-control" rows="10" placeholder="markdown supported; please embed only HTTPS assets"></textarea>
		</label>
	</div>

	<div class="form-group">
		<label>
			Hero Image URL
			<input name="heroImage" type="url" class="form-control" required placeholder="must start with https" />
		</label>
	</div>

	<div class="form-group">
		<label>
			Small Image URL
			<input name="smallImage" type="url" class="form-control" required placeholder="must start with https" />
		</label>
	</div>

	<div class="form-group">
		<label>
			Document URL
			<input name="documentUrl" type="url" class="form-control" required placeholder="should start with https" />
		</label>
	</div>

	<div class="checkbox">
		<label>
			<input name="featuredHero" type="checkbox" />
			feature in the hero?
		</label>
	</div>

	<div class="checkbox">
		<label>
			<input name="featuredGrid" type="checkbox" />
			feature in the grid?
		</label>
	</div>

	<input type="submit" class="btn btn-primary" />
</form>
