<!DOCTYPE html>
<html>
<head>
	<title>TL;DR_SPACE</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<style>
		footer {
			width: 100%;
			background-color: #eee;
			height: 30px;
		}

		footer p {
			margin-top: 5px;
		}
	</style>
</head>
<body>

<div class="container">

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Recon Test</a>
		</div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<ul class="nav navbar-nav">
	    		<li class="active"><a href="#">Link</a></li>
	    		<li><a href="#">Link</a></li>
			</ul>
		</div>
	</div>
</nav>

<header class="jumbotron">
	<h1>TL;DR_SPACE</h1>

	<p>A short description here</p>
</header>

<main>

	<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

	<p>Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.</p>

	<p>The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what the word round meant until I saw Earth from space.</p>

	<p>I don't know what you could say about a day in which you have seen four beautiful sunsets.</p>

	<p>The dreams of yesterday are the hopes of today and the reality of tomorrow.</p>

	<p>Problems look mighty small from 150 miles up.</p>

	<p>Where ignorance lurks, so too do the frontiers of discovery and imagination.</p>

	<p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there's a fundamental truth to our nature, Man must explore... and this is exploration at its greatest.</p>

	<p>NASA is not about the "Adventure of Human Space Exploration" We won't be doing it just to get out there in space – we'll be doing it because the things we learn out there will be making life better for a lot of people who won't be able to go.</p>

	<p>Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.</p>

	<p>There can be no thought of finishing for "aiming for the stars." Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

	<p>There can be no thought of finishing for "aiming for the stars." Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

	<p>The dreams of yesterday are the hopes of today and the reality of tomorrow.</p>


      <div id="availproductsview" class="ProductDisplay">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div id="item1" class="item active container-fluid">
              <div class="row">
/
                <div class="col-md-4">
                  <div class="row">

                    <img src="p1.jpg" class="col-md-12">

                    <img src="./images/p1.jpeg" class="col-md-12">

                  </div>
                </div>

                <div class="col-md-4">
                  <div>
                    <p class="text_head">Bubble Gum Juice</p>
                    <p>
                   
                   Our eliquid is made in the UK and come in a variety of exotic flavours at different nicotine strengths.  This allows you to find a blend and nicotine strength to your desire.  Our flavours are sourced from around the world for the best in scent and our blend has been perfected to give the smooth hit on the throat, great flavour with plenty of vapour
                   
                    </p>

                  </div>

              </div>
            </div>

            <div id="item2" class="item container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <div class="row">
                    <img src="p2.jpg" class="col-md-12">
                  </div>
                </div>

                <div class="col-md-4">
                  <div>
                    <p class="text_head">Sherbet Dip Dab x10 Packs</p>
                    <p>The Dip Dab by Barratt. They consist of a small packet of sherbet, with a lollipop sealed into the bag. Once the lollipop has been licked, it can be dipped into the sherbet and then sucked clean, alternatively it can simply be used to shovel the sherbet into the mouth. </p>
>
                  </div>

                
              </div>
            </div>

            <div id="item3" class="item container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <div class="row">
                    <img src="p3.jpg" class="col-md-12">
                  </div>
                </div>

                <div class="col-md-4">
                  <div>
                    <p class="text_head">Mashed Potato</p>
                    <p> 
                    
                    Mashed potato is a simple accompaniment to any meal, and really quick and easy to make. Everyone loves good mashed potato. Boiled Desiree potatoes for best results.
                    
                    </p>

                  </div>

                
              </div>
            </div>

            <div id="item4" class="item container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <div class="row">
                    <img src="p4.jpg" class="col-md-12">
                  </div>
                </div>

                <div class="col-md-4">
                  <div>
                    <p class="text_head">Fish and Chips</p>
                    <p>
                   
                   Is there anything more comforting in British cuisine than Fish And Chips? No. Be it in local chippy or gastro form, here's why our national classic perennially makes life seem worthwhile even when it probably isn't.
                  
                    </p>

                  </div>

                </div>
  

              </div>
            </div>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>

    </div>

  </div>


</main>

<footer>
	<p class="col-md-12"><small>This is just the footer, go read the interesting stuff above</small></p>
</footer>

</div>

</body>
</html>